* {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    max-width: 960px;
    max-height: 960px;
    flex-direction: column;
    margin:0 auto;
    

}

.row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    border: 1px solid black;

}

.highlight:hover {

    background-color: aqua;


}

.grid-button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px 0 60px 0;
    /* padding:40px; */

}
.grid-button button {
    color: rgb(255, 255, 255);
    background-color: rgb(62, 126, 255);
    padding:5px;
    border-radius: 5px;
    
}

.grid {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    max-height: 960px;
    justify-content: baseline;
    align-items: center;
    /* box-sizing: border-box; */
    
}


